.cover-container {
  max-width: 650px;
}

.game-grid {
  position: relative;
  display: block;
  background-color: #818182;
  border: 3px solid #818182;
}

.game-grid__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #fff;
  z-index: 2;
}

.game-grid__row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 1px;
  margin-bottom: 1px;
}

.game-grid__row:nth-child(3n):not(:last-child) {
  margin-bottom: 3px;
}

.game-grid__cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.game-grid__cell:nth-child(3n):not(:last-child) {
  margin-right: 2px;
}

.game-grid__cell::before {
  content: "";
  padding-bottom: 100%;
}

.game-grid__input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10%;
  text-align: center;
  color: #343a40;
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.game-grid__input--error {
  border: 2px solid #dc3545;
  color: #dc3545;
}

.game-grid__input--fill {
  opacity: .7;
  user-select: none;
  pointer-events: none;
}